<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ManageBook</servlet-name>
        <servlet-class>controller.admin.ManageBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>controller.admin.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBook</servlet-name>
        <servlet-class>controller.admin.EditBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>controller.admin.ManageUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageBook</servlet-name>
        <url-pattern>/admin/books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/admin/add</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>dir-upload</param-name>
        <param-value>uploads</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>EditBook</servlet-name>
        <url-pattern>/admin/editbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
</web-app>
